<a href="https://colab.research.google.com/github/ewilli400/Trump_Tweets/blob/main/Final_Project_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import datetime

In [ ]:
#Read in criticisms dataframe, drop duplicates, and make indicator variable
insults_df = pd.read_csv("https://github.com/ewilli400/trump/blob/main/trump_insult_tweets_2014_to_2021.csv?raw=true")
insults_df.drop_duplicates(subset="tweet", inplace=True)
insults_df["indicator"] = 1
insults_df.head()

   Unnamed: 0  ... indicator
0           1  ...         1
2           3  ...         1
3           4  ...         1
4           5  ...         1
5           6  ...         1

[5 rows x 6 columns]

In [ ]:
#Read in dataframe of all tweets
all_df = pd.read_csv("https://github.com/ewilli400/trump/blob/main/trumptweets.csv?raw=true")
all_df.head()

           id                                               link  ... hashtags geo
0  1698308935  https://twitter.com/realDonaldTrump/status/169...  ...      NaN NaN
1  1701461182  https://twitter.com/realDonaldTrump/status/170...  ...      NaN NaN
2  1737479987  https://twitter.com/realDonaldTrump/status/173...  ...      NaN NaN
3  1741160716  https://twitter.com/realDonaldTrump/status/174...  ...      NaN NaN
4  1773561338  https://twitter.com/realDonaldTrump/status/177...  ...      NaN NaN

[5 rows x 9 columns]

In [ ]:
def to_time(c):
  return c[11:]

def to_date(c):
  return c[0:10]

def to_year(c):
  return c[0:4]

In [ ]:
#Merge both dataframes
trump_tweets = all_df.merge(insults_df, how ="left", left_on="content", right_on="tweet")
trump_tweets["indicator"].fillna(0, inplace=True)
trump_tweets.fillna("None", inplace=True)
trump_tweets = trump_tweets.drop(["tweet", "Unnamed: 0", "date_y", "tweet", "geo", "link", "id"], axis = 1)
trump_tweets = trump_tweets.rename(columns={"date_x": "date"})
trump_tweets['time'] = trump_tweets['date'].map(to_time)
trump_tweets['year'] = trump_tweets['date'].map(to_year).astype(int)
trump_tweets.head()

                                             content  ...  year
0  Be sure to tune in and watch Donald Trump on L...  ...  2009
1  Donald Trump will be appearing on The View tom...  ...  2009
2  Donald Trump reads Top Ten Financial Tips on L...  ...  2009
3  New Blog Post: Celebrity Apprentice Finale and...  ...  2009
4  "My persona will never be that of a wallflower...  ...  2009

[5 rows x 11 columns]

In [ ]:
from google.colab import files
trump_tweets.to_csv("out.csv",index=False)
files.download("out.csv")

In [ ]:
all_df['time'] = all_df['date'].map(to_time)
all_df['date'] = all_df['date'].map(to_date)
all_df['year'] = all_df['date'].map(to_year).astype(int)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
#Function to convert tweets into a bag of words
def to_counter(df_year):
  docs = df_year.iloc[:,2]

  vec = CountVectorizer(strip_accents='ascii')
  vec.fit(docs)
  tf_sparse_year = vec.transform(docs)

  df_tf = pd.DataFrame(
    tf_sparse_year.todense(),
    columns=vec.get_feature_names())
  
  df_tf_sum = pd.DataFrame(df_tf.iloc[0:].sum())
  df_tf_sum = df_tf_sum.T

  return df_tf_sum

In [ ]:
#Creating separate dataframes for each year
df_2009 = all_df[all_df['year'] == 2009]
df_2010 = all_df[all_df['year'] == 2010]
df_2011 = all_df[all_df['year'] == 2011]
df_2012 = all_df[all_df['year'] == 2012]
df_2013 = all_df[all_df['year'] == 2013]
df_2014 = all_df[all_df['year'] == 2014]
df_2015 = all_df[all_df['year'] == 2015]
df_2016 = all_df[all_df['year'] == 2016]
df_2017 = all_df[all_df['year'] == 2017]
df_2018 = all_df[all_df['year'] == 2018]
df_2019 = all_df[all_df['year'] == 2019]
df_2020 = all_df[all_df['year'] == 2020]

year_dfs = [df_2009, df_2010, df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020]

In [ ]:
counter_2009 = to_counter(df_2009)

In [ ]:
#Creating bag of words for each year and concatenating to make term-frequency matrix
df_years = counter_2009

for i in range(1, 12):
  df_i = to_counter(year_dfs[i])
  df_years = pd.concat([df_years, df_i])

In [ ]:
df_years = df_years.fillna(0)
df_years.reset_index(inplace=True)
df_years.index = df_years.index + 2009

In [ ]:
df_years_2015on = df_years.drop(labels=[2009, 2010, 2011, 2012, 2013, 2014])
df_years_2015on = df_years_2015on.replace(0, pd.np.nan).dropna(axis=1, how='any').fillna(0).astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

In [ ]:
import numpy as np
df_years = df_years.replace(0, pd.np.nan).dropna(axis=1, how='any').fillna(0).astype(int)
df_years

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

      about  advice  all  along   an   and  ...  world  www  year  york   you  your
2009      2       1    5      2    2    20  ...      3    7     1     1    10    10
2010      4       1    9      2    7    66  ...      6   23     2     7     7     6
2011     36       2   34      1   23   289  ...     27    8    14     1    60    44
2012    176       5  223      8  172   993  ...     74   34    78    32   512   134
2013    262      28  484      8  214  1846  ...    137   33    91    64  2394   662
2014    226      29  340     15  203  1290  ...    159  288    68    58  2237   591
2015    338      13  470      9  211  1618  ...     90  662    77    34  2208   536
2016    157       3  297      7  103  1194  ...     43  613    32    54   994   146
2017    102       4  221     12  105  1151  ...     48   79    58    10   303    77
2018    202       5  431     37  205  2850  ...    114  150   103    49   520   151
2019    295       4  646     46  271  3263  ...    130  169   123    92   824   199
2020      3       1   18      1    8    82  ...      7    2     3     3    37    15

[12 rows x 111 columns]

In [ ]:
df_years.to_csv("years.csv",index=False)
files.download("years.csv")